.container
  .row
    .span2
      %a.brand{:href => '#'}
        %h3 GET INVOICE
    .span10{:style => "padding-top:15px"}
      %ul.nav.nav-pills.pull-right
        %li.active
          %a{:href=> "#"} Home
        %li
          %a{:href=> "#"} How its works
        %li
          %a{:href=> "#"} Login
          
        %li
          %a{:href=> "#"} Register
